* {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.login{
    height: 600px;
    width: 350px;
    background-color: white;
    margin: 120px auto 0;
    padding: 30px 50px;
    text-align: right;
    border-radius: 15px;
    color: aqua;
}

img{
    display: flex;
    margin-top: 25px;
    align-items: right;
}

.content{
    font-size: 20px;
    font-weight: bolder;
    background-color: white;
    text-align: left;
    margin-top: 25px;
    color: #000000;
}

.offers{
    display: flex;
    color: #4d5157;
    height: 50px;
    justify-content: space-between;
    text-align: center;
}

.footer{
    background-color: white;
    height: 50px;
}