* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("https://e0.pxfuel.com/wallpapers/163/906/desktop-wallpaper-beautiful-nature-with-girl-beautiful-girl-with-nature-and-moon-high-resolution-beautiful.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.content {
    min-height: 100px;
    width: 500px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.7px);
    -webkit-backdrop-filter: blur(6.7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.content h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#todo-input {
    width: 75%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#add-btn {
    padding: 8px 16px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#add-btn:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
}

li {
    padding: 10px;
    background-color: #f8f9fa;
    margin-bottom: 8px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed span {
    text-decoration: line-through;
    color: #6c757d;
}

li .delete-btn, li .complete-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

li .delete-btn {
    color: #dc3545;
}

li .delete-btn:hover {
    color: #c82333;
}

li .complete-btn {
    color: #28a745;
    margin-right: 10px;
}

li .complete-btn:hover {
    color: #218838;
}
